<?xml version="1.0"?>
<configuration>
  <log4net>
    <appender name="CsvFileAppender" type="log4net.Appender.FileAppender">
      <file value="log.csv"/>
      <appendToFile value="true"/>
      <layout type="CsvLogging.CsvPatternLayout, CsvLogging">
        <header value="DateTime,Level,UserId,EventCode,Details
"/>
        <conversionPattern value="%date{M/d/yyyy H:mm:ss.fff}%newfield%level%newfield%property{UserId}%newfield%property{EventCode}%newfield%property{Details}%endrow"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="CsvFileAppender"/>
    </root>
  </log4net>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
