<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, 
    log4net"/>
  </configSections>
  <log4net threshold="On">
    <appender name="SensorAppender" type="log4net.Appender.FileAppender">
      <file value="Sensorlog.csv"/>
      <appendToFile value="true"/>
      <layout type="UAVCommons.Logging.CsvPatternLayout, UAVCommons">
        <header value="DateTime,EventCode,Details
"/>
        <conversionPattern value="%date{M/d/yyyy H:mm:ss.fff}%newfield%property{name}%newfield%property{value}%endrow"/>
      </layout>
    </appender>
    <appender name="NetAppender" type="log4net.Appender.FileAppender">
      <file value="Netlog.csv"/>
      <appendToFile value="true"/>
      <layout type="UAVCommons.Logging.CsvPatternLayout, UAVCommons">
        <header value="DateTime,EventCode,Details
"/>
        <conversionPattern value="%date{M/d/yyyy H:mm:ss.fff}%newfield%property{name}%newfield%property{value}%endrow"/>
      </layout>
    </appender>
    <logger name="SensorLog">
      <appender-ref ref="SensorAppender"/>
    </logger>

    <logger name="NetworkLog">
      <appender-ref ref="NetAppender"/>
    </logger>

  </log4net>

  <appSettings>
    <add key="args" value="1"/>
    <add key="WLAN" value="true"/>
    <add key="GroundIP" value="10.0.0.22"/>
    <add key="GroundCommandPort" value="9000"/>
    <add key="SendPort" value="9001"/>
    <add key="RecievePort" value="9002"/>
    <add key="VPN" value="false"/>
    <add key="VPNGroundIP" value="10.8.0.6"/>
    <add key="VPNSendPort" value="8001"/>
    <add key="VPNRecievePort" value="8002"/>
    <add key="DeviceFile" value="/root/FlightControl/devices.xml"/>
    <add key="StabiliseFlight" value="False"/>
    <add key="AHRSDevice" value="Com12"/>
    <add key="GPSDevice" value="Com13"/>
    <add key="LoadSettingsFromFile" value="False"/>
    <add key="AutoSaveTime" value="10000"/>
    <add key="UAVFilename" value="/root/FlightControl/rcuav.uav"/>

    <add key="UseSimulator" value="True"/>
    <add key="SimulatorIP" value="127.0.0.1"/>

    
    <add key="UAVMode" value="VTOLUAV"/>
    <add key="HomeLat" value="48.297884"/>
    <add key="HomeLong" value="14.243461"/>
    <add key="HomeAlt" value="2200"/>


  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
