<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="WLAN" value="true"/>
    <add key="GroundIP" value="10.0.0.22"/>
    <add key="Remoteip" value="10.0.0.22"/>
    <add key="RemoteUsername" value="root"/>
    <add key="RemotePassword" value="1234"/>
    <add key="GroundCommandPort" value="9000"/>
    <add key="GroundSendPort" value="9002"/>
    <add key="GroundRecievePort" value="9001" />
    
    <add key="VPN" value="false"/>
    
    <add key="VPNGroundIP" value="10.10.10.104"/>
    <add key="VPNGroundSendPort" value="8002"/>
    <add key="VPNGroundRecievePort" value="8001"/>

  </appSettings>
<startup useLegacyV2RuntimeActivationPolicy="true">
 
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
